# **Getting to Know the Data**

###### Can find the source data drinks.csv from the folder and let's see what we can do with this dataset !

### **Step 1 Import the necessary packages**

In [2]:
import pandas as pd

### **Step 2 Read the dataset and assign it to a variable**

In [5]:
drinks = pd.read_csv('drinks.csv')

### **Step 3 Inspect the first 10 entries**

In [7]:
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania
9,Austria,279,75,191,9.7,Europe

### **Step 4 Number of entries in the dataset ?**

In [10]:
drinks.shape #193 observations with 6 variables

(193, 6)

### **Step 5 Datatypes within the dataset?**

In [12]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.1+ KB

### **Step 6 Variable names ?**

In [14]:
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

### **Step 7 What is the average wine servings ?**

In [16]:
drinks['wine_servings'].mean()

49.45077720207254

### **Step 8 Greatest wine serving?**

In [29]:
drinks.wine_servings.sort_values(ascending=False) #370 Amazing !

61     370
136    339
3      312
166    280
48     278
156    276
99     271
42     254
83     237
55     233
6      221
185    220
67     218
16     212
8      212
182    195
9      191
120    190
165    186
75     185
121    175
65     175
35     172
140    167
81     165
64     149
148    140
45     134
126    129
113    128
      ...
142      0
190      0
179      0
147      0
161      0
149      0
168      0
13       0
162      0
158      0
111      0
128      0
90       0
58       0
56       0
77       0
78       0
79       0
80       0
46       0
95       0
119      0
97       0
102      0
103      0
106      0
107      0
116      0
27       0
0        0
Name: wine_servings, Length: 193, dtype: int64

### **Step 9 Average wine servings withing each continent**?

In [21]:
drinks.groupby('continent').wine_servings.mean() #Europe has the greatest wine servings while Asia has the least

continent
Africa            16.264151
Asia               9.068182
Europe           142.222222
North America     24.521739
Oceania           35.625000
South America     62.416667
Name: wine_servings, dtype: float64

### **Step 10 Quick oveview of wine serving in each continent**

In [23]:
drinks.groupby('continent').wine_servings.agg(['max', 'min', 'mean', 'std' ]) #Max/Min/Mean/Standard Deviation of wine serving

               max  min        mean        std
continent
Africa         233    0   16.264151  38.846419
Asia           123    0    9.068182  21.667034
Europe         370    0  142.222222  97.421738
North America  100    1   24.521739  28.266378
Oceania        212    0   35.625000  64.555790
South America  221    1   62.416667  88.620189